:root {
  --primary: coral;
  --secondary: cornflowerblue;
}

/* Structure */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

.craft {
  padding: 10px;
  margin: 10px;
  border: 2px solid #401e01;
  background: #f2e8dc;
}

.craft img {
  max-width: 90%;
  display: block;
  margin: auto;
}

#craft-details-column {
  padding: 10px;
  margin: 10px;
  background: lightblue;
  border-radius: 5px;
}

#add-link {
  font-size: 0.8em;
  color: #401e01;
  border: 2px solid #401e01;
  padding: 0 4px;
}

#edit-link {
  float: right;
  margin-right: 10px;
}

#delete-link {
  float: right;
}

#add-edit-craft-container {
  padding: 10px;
  margin: 10px;
  background: lightblue;
  border-radius: 5px;
}


#end-btn{
padding-left: 24.5%;
}
/* Form */
.w3-modal-content {
  max-width: 40%;
  border: 2px solid #401e01;
}

.w3-container {
  background: #BFBFBF;
  position: relative;
}

.spoon {
  width: 30%;
  height: 50%;
  position: absolute;
  right: 5%;
  top: 40%;
  background: url("images/wooden-spoon.png");
  background-image: url(images/wooden-spoon.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

label {
  display: block;
}

.inline {
  display: inline;
}

#ingredients-p input {
  margin-top: 5px;
}

#add-ingredient {
  color: #401e01;
  font-size: 0.75em;
  text-align: right;
}

#img-prev-section {
  width: 200px;
  border: 1px solid #401e01;
  margin-right: 5px;
}
#img-prev {
  padding: auto;
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
}

/* Typography */

#main-nav-items {
  font-size: 1.2em;
}
h1 {
  text-align: center;
  color: #401e01;
}

a {
  text-decoration: none;
  color: crimson;
}

.hidden {
  display: none;
}

/* Larger Resolutions */

@media (min-width: 600px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .two-columns div {
    flex: 1;
  }
  .craft {
    width: 15%;
  }

  #craft-list {
    justify-content: center;
  }
}
